body {
  text-align: center;
  background-color: Black;
  color: Red;
}

h1 {
  font-size: 50px;
  width: 1000px;
  text-align: center;
  margin-left: 450px;
  font-family: 'Gloria Hallelujah', cursive;
  letter-spacing: 5px;
}
p {
  font-size: 25px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}